*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    size: 3em;
    padding: 5px 15px;
    letter-spacing: 2px;
}

.debounce{
    gap: 10px;
}

.container{
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}